.our-presence {
  padding: 80px 0;
  background-color: #ffffff;
}

.presence-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 20px;
}

/* LEFT SIDE */
.presence-left img {
  width: 100%;
  max-width: 500px;
}

/* RIGHT SIDE */
.presence-right {
  flex: 1;
}

.subtitle {
  color: rgb(72,72,205); 
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
  color: black;
  text-align: center;
}

.description {
  color: #555;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: center;
  font-size: 18px;
}

/* STATS GRID */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.stat-box h3 {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  color: black;
  text-align: center;
}

.stat-box p {
  margin-top: 8px;
  color: rgb(72,72,205);
  text-align: center;
  font-weight: 500;
}
