.welcome-section {
  background: #f3f4f6;   /* light grey like screenshot */
  padding: 120px 20px;
}

.welcome-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  align-items: flex-start;   
}

/* LEFT SIDE */
.welcome-left {
  flex: 1;
  padding-top: 180px; 
}

.welcome-left h2 {
  font-size: 38px;
  font-weight: 800;
  color: #0f172a; /* dark navy */
  line-height: 1.2;
  align-content: center;
  
}

/* RIGHT SIDE */
.welcome-right {
  flex: 1.3;
}

.welcome-right p {
  font-size: 17px;
  line-height: 1.9;
  color: #475569;
  margin-bottom: 24px;
}