.services-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 40px 20px;
}

.service-card {
  /* background: ; */
  border: 1px solid orange;
  border-radius: 20px;

  padding: 30px;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  flex: 1 1 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(72,72,205);
}

.service-card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.service-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
}
